:root { --main: #00c3ff; --bg: #0a0a0c; --card: #16161d; --text: #ffffff; }
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Inter', sans-serif; }
body { background: var(--bg); color: var(--text); display: flex; justify-content: center; padding: 20px; }

.blur { filter: blur(10px); pointer-events: none; }

/* MODAL */
.modal-overlay { position: fixed; top:0; left:0; width:100%; height:100%; background: rgba(0,0,0,0.85); z-index: 100; display: flex; align-items: center; justify-content: center; }
.modal-box { background: var(--card); padding: 30px; border-radius: 20px; width: 90%; max-width: 400px; border: 1px solid var(--main); }
.modal-text { font-size: 0.9rem; color: #ccc; margin: 20px 0; line-height: 1.5; }
.check-area { display: flex; gap: 10px; align-items: flex-start; margin-bottom: 20px; font-size: 0.8rem; }
#btnConfirmar { width: 100%; padding: 15px; border-radius: 10px; border: none; background: var(--main); color: #fff; font-weight: bold; cursor: pointer; }
#btnConfirmar:disabled { opacity: 0.3; }

/* APP */
.container { width: 100%; max-width: 400px; }
h1 span { color: var(--main); }
.card { background: var(--card); padding: 20px; border-radius: 20px; border: 1px solid #2d2d3a; margin-top: 20px; }
label { display: block; font-size: 0.7rem; color: #777; margin: 10px 0 5px; font-weight: bold; }
input { width: 100%; padding: 12px; border-radius: 10px; border: 1px solid #2d2d3a; background: #000; color: #fff; margin-bottom: 10px; }
.resumo { background: #000; padding: 20px; border-radius: 15px; text-align: center; margin: 20px 0; border: 1px dashed var(--main); }
.valor-robux { display: block; font-size: 2.5rem; font-weight: 900; color: var(--main); }
#btnPagar { width: 100%; padding: 18px; border-radius: 12px; border: none; background: var(--main); color: #fff; font-weight: bold; font-size: 1.1rem; cursor: pointer; }
#btnPagar:disabled { opacity: 0.2; }
